@charset "utf-8";
@import "~bulma/bulma";

/* Core variables */
@import "base/vars";

/* CSS Reset */
@import "base/reset";

/* Fonts */
@import "base/fonts";

/* Mixins, helpers and functions */
@import "base/mixins";

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: $background;
}

.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .card {
    padding: 30px 60px;
    cursor: pointer;
    transition: transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
    margin: 20px;
    text-align: center;
    .emoji {
      font-size: 10em;
    }
    .type {
      padding: 5px 20px 10px;
      display: block;
      border-radius: 30px;
      background: #0000000d;
      margin-top: 20px;
      font-weight: 500;
    }
    &.is-danger {
      background-color: #ff6060;
      .type {
        color: white;
      }
    }
    &:hover {
      transform: scale(1.15);
    }
  }
}

.notifications {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-flow: column;
  .notification-container {
    width: 50%;
    .notification {
      background-color: white;
      box-shadow: 0 3px 10px #0000000f;
      margin: 5px 0;
      &.is-danger {
        background-color: #ff6060;
        .type {
          color: white;
        }
      }
    }
  }
}
